name: Build Release APK

on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3.2.1

    - uses: gradle/actions/setup-gradle@v4

    - run: gradle assembleRelease

    - name: Sign app APK
      id: sign_app
      continue-on-error: true
      uses: ilharp/sign-android-release@nightly
      env:
        ANDROID_SIGNING_KEY: ${{ secrets.ANDROID_SIGNING_KEY }}
      with:
        releaseDir: app/build/outputs/apk
        signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
        keyAlias: ${{ secrets.ANDROID_ALIAS }}
        keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}

    - name: Upload Signed Artifact
      if: steps.sign_app.outcome == 'success'
      uses: actions/upload-artifact@v4
      with:
        name: signed-apks
        path: app/build/outputs/apk/**/*-signed.apk
        if-no-files-found: error
        retention-days: 20

    - name: Upload Unsigned Artifact
      if: steps.sign_app.outcome != 'success'
      uses: actions/upload-artifact@v4
      with:
        name: unsigned-apks
        path: |
          app/build/outputs/apk/fdroid/release/*.apk
          app/build/outputs/apk/generic/release/*.apk
          app/build/outputs/apk/githubPreview/release/*.apk
        if-no-files-found: error
        retention-days: 20
